<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<!-- See avahi.service(5) for more information about this configuration file -->

<service-group>
  <name replace-wildcards="yes">%h</name>

  <service>
    <type>_nfd._tcp</type>
    <port>6363</port>
  </service>

  <service>
    <type>_nfd._udp</type>
    <port>6363</port>
  </service>
</service-group>
