#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# hardening=+all fails, so at least we should push the minimum
export DEB_BUILD_MAINT_OPTIONS=hardening=+bindnow+relro+pie
architecture=$(shell dpkg-architecture -q DEB_BUILD_MULTIARCH)

%:
	dh $@  --buildsystem=waf --with=python2 --with=systemd

override_dh_auto_configure:
	# patch around a bug in waf not supporting boost on arm
	dh_auto_configure -- --without-websocket --without-libpcap \
		--boost-libs=/usr/lib/${architecture} \
		${NULL}

override_dh_auto_install:
	dh_auto_install $@
	rm -rf debian/nfd/usr/bin/nfd-start
	rm -rf debian/nfd/usr/bin/nfd-stop
	mv debian/nfd/etc/ndn/nfd.conf.sample debian/nfd/etc/ndn/nfd.conf
	mv debian/nfd/etc/ndn/autoconfig.conf.sample debian/nfd/etc/ndn/autoconfig.conf
	mkdir -p debian/nfd/etc/avahi/services/
	cp debian/avahi.service debian/nfd/etc/avahi/services/nfd.service

override_dh_systemd_enable:
	dh_systemd_enable -pnfd --name=nfd nfd.service
	dh_systemd_enable -pnfd --name=nfd-init nfd-init.service

override_dh_systemd_start:
	dh_installinit -pnfd --no-start
	dh_systemd_start -pnfd --no-restart-on-upgrade
